/* third section*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,500;1,600;1,700&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.header nav svg {
  width: 80px;
  height: 80px;
}

.header nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .header nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

.nav-links {
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 700px) {
  .nav-links ul {
    padding: 30px;
  }
}

.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links li::after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: #007a76;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

@media (max-width: 700px) {
  .nav-links li {
    display: block;
  }
}

@media (max-width: 700px) {
  .nav-links {
    position: absolute;
    background: #000000;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s left;
  }
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  text-align: center;
  font-size: 80px;
  color: transparent;
  background-image: url(https://media.giphy.com/media/5dYqPVcoq9mKuxleyR/giphy.gif);
  background-position: center;
  filter: hue-rotate(-50deg);
  -webkit-background-clip:text;
  background-clip: text;
  user-select: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 50px;
  }
}

.text-box p {
  color: #fff;
  margin: 10px 0 40px;
  font-size: 14px;
}

.text-box .header-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font: size 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.text-box .header-btn:hover {
  border: 1px solid #007a76;
  background: #166361;
  transition: 1s;
}
